{% extends 'geekshop/base.html' %}
{% load static %}
{% load cache %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static '/mainapp/style.css' %}">
{% endblock %}

{% block content %}
	{% include 'geekshop/includes/inc_main_menu.html' %}
      <div class="details">
        {% include 'mainapp/includes/products_menu.html'%}
        <div class="product">
            <div class="product-photos">
                <div class="slider-main">
                  <img src="/media/{{ product.image }}">
                </div>
                <div class="slider-control">
                  <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt=""></a>
                  </div>
                  <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt=""></a>
                  </div>
                  <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt=""></a>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <h3 class="big-bold">{{ product.name }}</h3>
                <p class="description-text">
                  {{ product.description }}
                </p>
                <p class="price">{{ product.price }} <span>руб</span></p>
                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                  заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
         <div class="related">
            <div class="title clearfix">
               <h2>Похожие продукты</h2>
               <a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for same_prod in same_products%}
               <div class="block">
                  <a href="#"><img class="related-img" src="/media/{{ same_prod.image }}" alt="">
                     <div class="text">
                        <img src="/static/img/icon-hover.png" alt="img">
                      <h4>{{ same_prod.name }}</h4>
                      <p>{{ same_prod.description }} </p>
                     </div>
                  </a>
               </div>
            {% endfor %}

            </div>
         </div>
{% endblock %}


