{% extends 'geekshop/base.html' %}
{% load static %}
{% load cache %}

{% block main_slider %}
  <div class="container_wrapper">
{% endblock %}
{% block content %}

    <div class="details">
      {% include 'mainapp/includes/products_menu.html' %}
      <div class="section">
        <div class="category-title">
          <p>
            Категория: {{ category.name }}
          </p>
        </div>
        <div class="paginator">
          {% if products.has_previous %}
          <a href="{% url 'products:page' category.pk products.previous_page_number %}"><<<</a>
          {% endif %}
        <span class="current">
          страница {{ products.number }} из {{ products.paginator.num_pages }}
        </span>
          {% if products.has_next %}
          <a href="{% url 'products:page' category.pk products.next_page_number %}">>>></a>
          {% endif %}
        </div>
        <div class="category-products">
          {% for product in products %}
            <div class="product-card">
              <a href="{% url 'products:product' product.pk %}">
                <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}" class="w-50">
                <div class="text">
                  <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                  <h4>{{ product.name }}</h4>
                  <p>{{ product.description }} </p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% include 'mainapp/includes/hot_product.html' %}

  </div>

{% endblock %}